name: Docker

on:
  push:
    branches:
      - main
      - dev-1
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Prepare lowercase image owner
        id: image_meta
        run: echo "owner_lc=${GITHUB_REPOSITORY_OWNER,,}" >> "$GITHUB_OUTPUT"

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image (PR)
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: ghcr.io/${{ steps.image_meta.outputs.owner_lc }}/todo-api-node:pr-${{ github.event.pull_request.number }}

      - name: Build and push image (Push)
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ steps.image_meta.outputs.owner_lc }}/todo-api-node:latest
            ghcr.io/${{ steps.image_meta.outputs.owner_lc }}/todo-api-node:${{ github.sha }}
